* {
	max-height: 99999999px;
}

html,
body {
	min-height: 100%;
	min-width: 480px;
}

a {
	color: #139db6;
	text-decoration: none;
}

html {
	height: auto !important;

}

body {
	height: 100%;
	font-size: 14px;

	font-family: 'PT Sans', sans-serif;
	line-height: 18px;
	/* padding-bottom: 445px; */
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: content-box;
	color: #282828;
}

#container {
	position: absolute;
	width: 100%;
	height: 3896px !important;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

#bg-star-field-fixed {
	display: block;
	position: absolute;
	background-image: url('../img/bg-main.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#home {
	overflow: visible;
	/* height: 1300px; */
	padding: 0px;
	margin-top: 20px !important;
	clear: both;
}

.container {
	width: 100%;

	max-width: 1320px;
	margin: 0 auto;
	padding-right: 5px;
	padding-left: 5px;
	z-index: 50;
}

.row {
	margin-right: -10px;
	margin-left: -10px;
	position: relative;
	z-index: 51;
}

header.header {
	background: rgba(244, 237, 241, 0.11);
	position: relative;
	height: 51px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 3000000;
}

header.header.head-effect {
	background: rgba(244, 237, 241, 0.44);
}

nav.nav-wrapper {
	float: left;
}

ul#menu-short-version {
}

ul#menu-short-version li {
	display: inline-block;
	vertical-align: middle;
	padding: 8px 0px;
}

ul#menu-short-version li a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 18px;
	padding: 0px 15px;
}

ul#menu-short-version li a:hover,
ul#menu-short-version li a:focus {
	background-color: transparent;
	outline: none;
}

ul#menu-short-version li a img {
	opacity: 0;
	-webkit-transition: all 200ms ease-out;
	-mozilla-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.head-effect ul#menu-short-version li a img {
	opacity: 1;
}

.logo {
	padding: 31px 0 0;
}

.logo img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.home-title {
	padding: 42px 0 0;
}

.home-title img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.text-left {
}

.text-white {
	color: #fff;
}

.text-black {
	color: #282828;
}

.section-title {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 11px;
}

h2.title {
	font-weight: bold;
	margin: 0;
	padding: 0;
	font-size: 89px;
	line-height: 93px;
	padding-bottom: 8px;
	letter-spacing: 0;
}

.title-description {
	font-size: 37px;
	line-height: 41px;
	letter-spacing: 0;
}

.footer-img {
	float: left;
	width: 35%;
	max-width: 130px;
}

.footer-text {
	width: 100%;
	padding: 29px 0 0 142px;
}

.footer-img img {
	display: inline-block;
	width: 100%;
	max-width: 130px;
}

.footer-text-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 30px;
	letter-spacing: -3px;
	margin-bottom: 12px;
}

.footer-text-link {
}

.footer-text-link a {
	font-family: Trebuchet MS;
	font-size: 30px;
	font-weight: bold;
	color: #0086df;
	line-height: 30px;
	letter-spacing: -2px;
}

.row.footer-block-1 {
	padding: 20px 0 46px;
	background: url(../img/bgr.png) no-repeat center bottom;
}

.row.footer-block-1 .col-md-4 {
	width: 33.33333333%;
	float: left;
	padding: 0 9px 0;
}

.row.footer-block-2 .col-md-6 {
	width: 50%;
	float: left;
	padding: 0 9px 0;
}

.footer-soc-ico a:before {
	content: '';
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 52px;
	color: #fff;
	display: block;
	font-size: 26px;
	font-weight: bold;
}

.footer-soc-ico a.soc-1 {
	background: #214174;
}

.footer-soc-ico a.soc-2 {
	background: #034ca1;
}

.footer-soc-ico a.soc-3 {
	background: #6693c5;
}

.footer-soc-ico a.soc-4 {
	background: #9b1200;
}

.footer-soc-ico a.soc-1:before {
	content: "\e603";
}

.footer-soc-ico a.soc-2:before {
	content: "\e62a";
}

.footer-soc-ico a.soc-3:before {
	content: "\e605";
}

.footer-soc-ico a.soc-4:before {
	content: "\e62b";
}

.footer-soc-ico {
}

.footer-soc-ico a {
	display: inline-block;
	width: 52px;
	height: 52px;
	text-align: center;
	text-decoration: none !important;
	opacity: 0.9;
	-webkit-transition: all 200ms ease-out;
	-mozilla-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	margin-left: 3px;
}

.footer-soc-ico a:hover {
	opacity: 1;
}

.copir {
	color: #000000;
	font-size: 18px;
	font-family: Trebuchet MS;
	padding-top: 32px;
}

.row.footer-block-2 {
	padding: 18px 9px 183px;
}

.job-block {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	position: relative;
}

.job-block img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.row.job-block-main {
	padding: 44px 0 50px;
}

.row.job-block-main .col-md-3 {
	width: 25%;
	float: left;
}

.job-block-img {
	min-height: 231px;
	margin-bottom: 3px;
}

a.job-block-link {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: block;
}

.row.work-block-main {
	min-height: 591px;
}

.work-block {
	text-align: center;
	font-weight: bold;
	font-family: 'Russia';
	font-size: 24px;
	text-transform: uppercase;
	line-height: 24px;
	width: 240px;
	position: absolute;
	top: 0;
	right: 0;
}

.work-block.work-block-1 {
	margin: 43px 335px 0 0;
}

.work-block.work-block-2 {
	margin: 84px 32px 0 0;
}

.work-block.work-block-3 {
	margin: 361px 163px 0 0;
}

.work-block-img {
	margin-bottom: 10px;
}

.btn.btn-work {
	position: absolute;
	top: 0;
	right: 0;
	margin: 337px 421px 0 0;

}

.btn.btn-red {
	display: block;
	width: 232px;
	background: #e61033;
	color: #ffffff;
	font-weight: bold;
	font-size: 33px;
	text-shadow: 0px 2px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 16px 0 16px 0;
	-moz-border-radius: 16px 0 16px 0;
	border-radius: 16px 0 16px 0;
	border: 1px solid #c1102d;
	padding: 14px 12px;
	line-height: 39px;
	height: 102px;
}

.btn.btn-red span {
	display: block;
	width: 100%;
	font-size: 26px;
	line-height: 30px;
}

.team-block-img {
	margin: 0 auto;
	max-width: 287px;

	-webkit-border-radius: 30%;

	-moz-border-radius: 30%;

	border-radius: 30%;
	overflow: hidden;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 14px;
	height: 287px;
}

.team-block-img {
	background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);

	box-shadow: 6.5px 11.258px 27px 10px rgba(0, 0, 0, 0.75);
	background: #FFF;
}

.team-block-img img {
	display: block;
	max-width: 100%;
}

.row.team-block-main {
	padding: 27px 0 119px;
}

.row.team-block-main .col-md-3 {
	padding: 0 0;
	float: left;
	width: 25%;
}

.team-block-1 .team-block-img {
	-webkit-border-radius: 30% 30% 0 30%;
	-moz-border-radius: 30% 30% 0 30%;
	border-radius: 30% 30% 0 30%;
}

.team-block-2 .team-block-img {
	-webkit-border-radius: 0 30% 30% 30%;
	-moz-border-radius: 0 30% 30% 30%;
	border-radius: 0 30% 30% 30%;
}

.team-block-3 .team-block-img {
	-webkit-border-radius: 30% 30% 30% 0;
	-moz-border-radius: 30% 30% 30% 0;
	border-radius: 30% 30% 30% 0;
}

.team-block-4 .team-block-img {
	-webkit-border-radius: 30% 0 30% 30%;
	-moz-border-radius: 30% 0 30% 30%;
	border-radius: 30% 0 30% 30%;
}

.team-block-text {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	color: #FFF;
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
}

.team-block-text span {
	color: #db2033;
}

.team-block-text i {
	display: block;
	color: #fff;
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
}

.team-block-img.link {
	background-image: none;
	background-image: none;
	background-image: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	position: relative;
	min-height: 287px;
	background: transparent;
}

.team-block-img-text {
	padding: 93px 0 91px;
}

.team-block-img-text span {
	font-size: 48px;
	line-height: 61px;
	padding: 0 0 0;
}

.btn.btn-team {
	font-size: 22px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.btn.btn-team span {
	font-size: 26px;
}

.row.services-block-main {
	float: right;
	max-width: 895px;
	padding: 25px 0 65px;
	padding-right: 21px;
	margin-left: 80px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
}

.row.services-block-main .col-md-6 {
	float: left;
	width: 50%;
	padding: 11px 6px 2px;
}

.services-block {
	background: url(../img/news-bg.png) center;
	-webkit-background-size: 2px 100%;
	background-size: 2px 100%;
	box-shadow: 6.5px 11.258px 27px 10px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 33px 0 33px 0;
	-moz-border-radius: 33px 0 33px 0;
	border-radius: 33px 0 33px 0;
	padding: 10px 22px;
}

.services-block-top {
}

.services-block-top .services-block-left {
	float: left;
	border-right: 2px solid #e6e6e6;
	width: 44px;
	color: #373645;
	font-size: 17px;
	text-transform: uppercase;
	line-height: 17px;
	/* text-align: center; */
	height: 58px;
	margin-bottom: 6px;
}

.services-block-top .services-block-left span {
	color: #0086df;
	font-size: 34px;
	line-height: 34px;
	display: block;
	margin-top: -2px;
}

.services-block-top .services-block-left i {
	font-style: normal;
	color: #282828;
	font-size: 14px;
	line-height: 16px;
	display: block;
	margin-top: -2px;
}

.services-block-top .services-block-body {
	float: left;
	width: 336px;
	text-transform: uppercase;
}

.services-block-top .services-block-body-2 {
	float: right;
	color: #282828;
	font-size: 16px;
}

.services-block-top .services-block-body-1 {
	color: #373645;

	font-size: 16px;
	padding: 0 0 0 9px;
}

.services-block-top .services-block-body-1 span {
	color: #cccccc;

}

.services-block-bottom {
}

.services-block-bottom .services-block-left {
	float: left;
	border-right: 2px solid #E6E6E6;
	width: 44px;
	min-height: 110px;
}

.services-block-bottom .services-block-body {
	padding-left: 52px;
}

.services-block-bottom .services-block-body-title {
	color: #373645;
	font-size: 15px;
	margin-bottom: 3px;
}

.services-block-bottom .services-block-body-text {
	color: #282828;
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
	font-family: Trebuchet MS;
}

.services-block-bottom .services-block-body-2 {
}

section#about {
	padding: 11px 0 76px;
}

.btn.btn-blue {
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	right: 53px;
	bottom: 2px;
	color: #ffffff;
	background: #0086df;
	text-shadow: 0px 2px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 16px 0 16px 0;
	-moz-border-radius: 16px 0 16px 0;
	border-radius: 16px 0 16px 0;
	border: 1px solid #005a95;
	font-size: 16px;
	line-height: 16px;
	padding: 11px 12px;
}

.btn.btn-services {
	font-size: 22px;
	text-transform: uppercase;
	position: absolute;
	bottom: 67px;
	right: 898px;
}

section#home {
	padding: 51px 0 26px;
}

section#work {
	padding: 73px 0;
}

section#team {
	padding: 74px 0;
}

section#services {
	padding: 80px 0;
}

footer.footer {
	padding-top: 101px;
}

#ship-cloud-3 {

	top: -50px;
	left: 0px;
}
#ship-cloud-3 div {
	display: block;
	position: absolute;
	width: 1291px;
	height: 661px;
	background-image: url('../img/could-3.png');
	background-repeat: no-repeat;
	background-position: top left;
	z-index: 15;
	background-position: center center;
}

#blue-ships {
	display: block;
	top: 0px;
	position: absolute;
	height: 1019px;
	width: 1000px;
	left: 250px;
	left: 50%;
	z-index: 50;
	margin-left: -500px;
}
#ship-cloud-1{
	position: absolute;
	top: 400px;
	left: 490px;
}
#ship-cloud-1 div {

	width: 557px;
	height: 299px;
	background-image: url('../img/could-1.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	z-index: 30;
}

#ship-blue-large .booster-f1 {
	display: none;
}

#ship-blue-large .booster-f2 {
	display: none;
}
#ship-cloud-4{
	position: absolute;
	top: 459px;
	left: -290px;
}
#ship-cloud-4 div {

	width: 685px;
	height: 390px;
	background-image: url('../img/could-4.png');
	background-repeat: no-repeat;
	background-position: bottom right;
	z-index: 20;
}

#ship-blue-medium .booster-f1 {
	display: none;
}

#ship-blue-medium .booster-f2 {
	display: none;
}
#ship-cloud-2{
	position: absolute;
	top: 720px;
	left: 300px;
}
#ship-cloud-2 div {

	width: 921px;
	height: 497px;
	background-image: url('../img/could-2.png');
	background-repeat: no-repeat;
	z-index: 10;
	background-position: bottom right;
}
#ship-birds{
	position: absolute;
	top: 70px;
	left: -122px;
}
#ship-birds div {

	width: 887px;
	

	height: 683px;
	background-image: url('../img/could-5.png');
	background-repeat: no-repeat;
	z-index: 10;
	background-position: bottom right;
}

#ship-blue-small .booster-f1 {
	display: none;
}

#ship-blue-small .booster-f2 {
	display: none;
}

#back-to-top {
	position: absolute;
	right: 10px;
	bottom: 50px;
	width: 43px;
	height: 43px;
	display: none;
	z-index: 55;
	background: #E61033;
	color: #FFF;
	font-weight: bold;
	font-size: 33px;
	text-shadow: 0px 2px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 16px 0 16px 0;
	-moz-border-radius: 16px 0 16px 0;
	border-radius: 16px;
	border: 1px solid #C1102D;
	line-height: 39px;
	text-align: center;
	padding: 6px 0px;
	text-indent: -1px;
	text-decoration: none !important;
}

#back-to-top:before {
	content: '\E627';
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 32px;
	/* color: #CCC; */
	display: block;
	font-size: 25px;
	width: 100%;
	height: 100%;
	-webkit-transition: color 200ms ease-out;
	-mozilla-transition: color 200ms ease-out;
	-ms-transition: color 200ms ease-out;
	-o-transition: color 200ms ease-out;
	transition: color 200ms ease-out;
}

div#preloader {
	display: none;
}

a.btn.btn-top-tel {
	display: block;
	width: 38px;
	background: #E61033;
	color: #FFF;
	font-weight: bold;
	font-size: 33px;
	text-shadow: 0px 2px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 16px 0 16px 0;
	-moz-border-radius: 16px 0 16px 0;
	border-radius: 0 16px 16px 16px;
	border: 1px solid #C1102D;
	padding: 14px 12px;
	line-height: 39px;
	height: 38px;
	background-image: url(../img/btn-top.png);
	background-position: center center;
	background-repeat: no-repeat;
}

.contact-header-block {
	text-align: right;
	padding-top: 7px;
}

.left-cont-block {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-right: 20px;
}

.left-cont-block a {
	display: block;
	color: #f9f9fb;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

.left-cont-block span {
	display: block;
	font-size: 15px;
	font-weight: bold;
	color: #F9F9FB;
}

.ridht-cont-block {
	display: inline-block;
	vertical-align: middle;
}

header .col-md-8 {
	width: 80.666667%;
	float: left;
	padding: 0;
}

header .col-md-4 {
	width: 230px;
	float: left;
	padding: 0;
	position: absolute;
	right: 0;
}

@media screen and (max-width: 1350px) {
	.container {
		width: 90%;
	}

	.row.team-block-main .col-md-3 {
		width: 33.3333%;
		padding-bottom: 30px;
	}

	section#team {
		padding-bottom: 0px;
	}

	#container {
		height: 4200px !important;
	}

	.btn.btn-services {
		position: static;

		float: right;
		margin-right: 21px;
	}

	section#services {
		padding: 40px 0;

	}

	section#work {
		padding: 40px 0;
	}

	.footer-text-link a {
		font-size: 25px;
	}

	.footer-text-title {
		font-size: 25px;
	}
}

@media screen and (max-width: 1200px) {
	.row.job-block-main .col-md-3 {
		width: 33.3333%;
		float: left;
		padding-bottom: 30px;
	}

	section#about {
		padding-bottom: 0;
	}

	.row.team-block-main .col-md-3 {
		width: 50%;
	}

	#container {
		height: 4430px !important;
	}

	.footer-text-link a {
		font-size: 18px;
		line-height: 24px;
	}

	.footer-text-title {
		font-size: 18px;
		line-height: 24px;
	}
}

@media screen and (max-width: 1100px) {
	.row.services-block-main {
		width: 100%;
		margin: 0;
		padding-right: 0;
		float: none;
		margin: 0 auto;
	}

}

@media screen and (max-width: 1000px) {
	.row.services-block-main .col-md-6 {
		width: 100%;
	}

	section#work,
	section#team,
	section#services {
		padding: 20px 0;
	}

	.row.footer-block-2 {
		padding-bottom: 50px;
	}

	#container {
		height: 4710px !important;
	}
}

@media screen and (max-width: 970px) {
	.row.job-block-main .col-md-3 {
		width: 50%;
		padding-bottom: 40px;
	}

	h2.title {
		font-size: 69px;
		line-height: 73px;
	}

	.title-description {
		font-size: 27px;
		line-height: 31px;
	}

	.footer-text-link a {
		font-size: 22px;
	}

	.footer-text-title {
		font-size: 22px;
	}

	.row.footer-block-1 .col-md-4 {
		width: 49%;
		float: none;
		display: inline-block;
		text-align: left;
	}

	.row.footer-block-1 {
		text-align: center;
	}

	ul#menu-short-version li a {
		font-size: 16px;
		padding: 0px 13px;
	}
}

@media screen and (max-width: 769px) {
	section#home {
		padding: 0;
	}

	#bg-star-field-fixed {
		/* top: 0 !important; */

		background-image: url('../img/bg-main.jpg');
		background-color: #BDAD6F;
		display: none;
	}

	header.header {
		position: relative;

		height: auto;
	}

	section#work,
	section#team,
	section#services,
	footer.footer {
		padding: 0;
	}

	#container {
		height: auto !important;

		background-color: #BDAD6F;
	}

	#blue-ships {
		display: none;
	}

	.row.job-block-main .col-md-3 {
		width: 100%;
		padding-bottom: 20px;
	}

	.work-block {
		margin: 0 auto !important;
		position: static;
		padding: 15px 0;
		text-align: center;
	}

	.btn.btn-red {
		position: static;

		margin: 0;
		margin-bottom: 20px;
	}

	.row.team-block-main .col-md-3 {
		width: 100%;
	}

	.team-block-img.link {
		height: auto;

		min-height: 0;
	}

	.row.team-block-main {
		padding: 27px 0;

	}

	.row.footer-block-1 .col-md-4 {
		width: 70%;
		text-align: center;
	}

	ul#menu-short-version li a img {
		opacity: 1;
	}

	ul#menu-short-version li {
		width: 100%;

	}

	ul#menu-short-version li a {
		width: 100%;

	}

	.row.footer-block-2 .col-md-6 {
		padding: 0;

	}

	.footer-soc-ico a {
		margin: 0;
		width: 48px;
		height: 48px;
	}

	.copir {
		padding-top: 10px;
	}
}

div#callback {
	width: 380px;
	margin: 0 auto;
	background: transparent;
	display: none;

	padding: 20px;
}

div#callback .callback--in {
	background-image: -moz-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
	background-image: -webkit-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
	background-image: -ms-linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%);
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	/* border: 1px solid #718493; */
	position: relative;
	padding-top: 15px;
	-webkit-border-radius: 8% 0 8% 0;
	-moz-border-radius: 8% 0 8% 0;
	border-radius: 8% 0 8% 0;
}

div#callback .callback--in .form-description {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;

	display: block;
	background: url(../img/ten.png) top center no-repeat;
	padding: 5px 0;
}

div#callback .contact-form {
	width: 100%;
	margin: 0 auto;
	padding: 0px 25px 55px;
}

div#callback .contact-form label {
	display: block;

	color: #3e3e3e;
	margin-bottom: 10px;
	font-size: 14px;
}

div#callback h2 {
	margin: 0;

	font-size: 14px;
	font-weight: normal;
	line-height: 28px;
	padding: 5px 27px;
	/* -webkit-border-radius: 8px 8px 0px 0px; */
	-moz-border-radius: 8px 8px 0px 0px;
	/* border-radius: 8px 8px 0px 0px; */
	text-align: center;
	color: #fff;
	background: #E61033;
	text-shadow: 0px 2px 0px rgba(50, 50, 50, 0.75);
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	margin: 0 -8px 0;
}

.fancybox-form-callback {

}

.fancybox-form-callback .fancybox-skin {
	padding: 0px !important;

	overflow: hidden;
}

.fancybox-form-callback .fancybox-close {
	top: 44px;

	right: 22px;
	background: none;
	width: 18px;
	height: 18px;
	line-height: 18px;
}

.fancybox-form-callback .fancybox-close:before {
	content: '\F081';
	font-family: "icomoon";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	text-decoration: none;
	color: #65717b;
	color: #d6dde2;
	-webkit-transition: color 200ms ease-out, border-color 200ms ease-out, background 200ms ease-out;
	-mozilla-transition: color 200ms ease-out, border-color 200ms ease-out, background 200ms ease-out;
	-ms-transition: color 200ms ease-out, border-color 200ms ease-out, background 200ms ease-out;
	-o-transition: color 200ms ease-out, border-color 200ms ease-out, background 200ms ease-out;
	transition: color 200ms ease-out, border-color 200ms ease-out, background 200ms ease-out;
	display: inline-block;
	line-height: 18px;
}

.fancybox-form-callback .fancybox-close:hover:before {
	color: #65717b;
}

.fancybox-form-callback.fancybox-opened .fancybox-title {
	display: none;
}

.fancybox-overlay {
	background: rgba(113, 132, 147, 0.7);

}

div#callback .btn-default-main.leave-appl {
	position: absolute;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	right: 53px;
	bottom: 0px;
	color: #FFF;
	background: #E61033;
	text-shadow: 0px 2px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 16px 0 16px 0;
	-moz-border-radius: 16px 0 16px 0;
	border-radius: 16px 0 16px 0;
	border: 1px solid #C1102D;
	font-size: 16px;
	line-height: 16px;
	padding: 11px 12px;
	outline: none;
}

a.btn.btn-red.btn-popup {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);

	z-index: 10001;
	font-size: 15px;
	text-transform: uppercase;

	width: 160px;
	height: 38px;
	padding: 9px 12px;
	line-height: 19px;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-transition: background-color 200ms ease-out;
	-mozilla-transition: background-color 200ms ease-out;
	-ms-transition: background-color 200ms ease-out;
	-o-transition: background-color 200ms ease-out;
	transition: background-color 200ms ease-out;
	position: relative;
}

.btn-popup-block {
	position: fixed;
	right: 0;
	top: 50%;
	width: 99px;
	z-index: 100;
}